<!DOCTYPE html>

<html>
    <head>
        <title>MY SERVER</title>
        <!-- <script src="/static/cookie.js"></script> -->
        <!-- <script>
          setCookie("sessionId", {{id}}, 30);
          x = getCookie("sessionId");
          alert("Session ID = " + x);
        </script> -->
    </head>
    <body onload="">
        <h1>Welcome to RideShare!</h1>

        <!-- Register Driver Button -->
        <br>
        <button onclick="window.location.href='/add_info'">Add Information</button>
        <br>

        <!-- Find Driver Button -->
        <br>
        <button onclick="window.location.href='/find_driver'">Find Driver</button>
        <br>

    </body>
</html>
